

.part5 h2 {
	text-align: center;
}

.part5 > p {
	font-size: 22px;
	text-align: center;
	margin: 25px 17%;
}

.cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 77px 10%;
}

.cards img {
	width: 100%;
	height: 215px;
	border-radius: 29px;
}

.card p {
	text-align:justify;
}

.card {
	flex-grow: 1;
	margin-top: 20px;
	max-width: 348px;
}

.navigation {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: 0px 47%;
}

.active {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #717CFF;
}

.notActive {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #7C7C7C 31.88%;
	margin-top: 2px;
}
